.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    width: 100%
}

.labelContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.innerDiv {
    display: flex; 
    justify-content: start;
    align-items: start;
    position: relative;
    width: 100%;
    
}

.error {
    color: red;
}
.container {
    min-height: 110px;
    width: 100%;
    transition: all 0.3s ease-in-out ;
}

.group {
    pointer-events: auto;
    width: 100%;
    display: flex;
    transition: all 0.3s ease-in-out ;
}
