.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2;
    width: 100%
}

.labelContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.innerDiv {
    position: relative;
}

.div {
    width: 100%
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.button {
    position: absolute;
    top: 0;
    left: 7rem;
    background: #ef4444;
    height: 1rem;   
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ef4444;
    border-radius: 9999px;
    color: #ef4444;
}

.button:hover {
    color: #000;
}