.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2;
    width: 100%
}

.labelContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.innerDiv {
    display: flex; 
    justify-content: start;
    align-items: start;
    width: 20rem;
    width: 100%;
}

.error {
    color: red;
}
