.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center ;
    gap: 1rem ;
    width: 100%;
}

.itemContainer {
    position: relative;
    display: flex;
    justify-content: between;
    align-items: center;
    width: 100%;
}
.itemContainer:hover {
    background-color: #edebe8;
}

.button {
    width: 15px;
    height: 20px;
    background-color: rgb(231, 106, 106);
    border-radius: 5px;
    transition: width 0.3s ease;
    color: white;
    font-size: 12px;
}
.button::before {
    content: 'Delete';
    opacity: 0;
    transition: opacity 0.3s ease;
}
.button:hover {
    width: 60px;
}
.button:hover::before {
    opacity: 1;
}