

.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2;
    width: 100%
}



.labelContainer {
    width:100%;
    display:flex;
    flex-direction: row;
}

.container {
    width: 100%;
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: between;
    align-items: between;
}