
.button {
    opacity: 0;
    position: absolute;
    height: 1rem;   
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image {
        height: 10rem;
    
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: start;
    min-width: 1rem;
}

.imageContainer:hover .button{
    position: absolute;
    height: 1rem;   
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 1;
    background-color: rgb(231, 106, 106);
    border-radius: 9999px;
}