
.button {
    opacity: 0;
    position: absolute;
    height: 1rem;   
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
      padding: 3px;
    margin: 3px;
    
}

.image {
        height: 10rem;
    
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: start;
    min-width: 1rem;
}

.imageContainer:hover .button{
    position: absolute;
    height: 1rem;   
    width: 1rem;
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
    border: 1px solid white;
    background-color: rgb(231, 106, 106);
    border-radius: 9999px;
    transition: all 0.3s ease-in-out;
}